In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csv_path = Path("/Users/michealmccloskey/Desktop/mlb_2022/2022_pitching.csv")
try:
    pitching_df = pd.read_csv(csv_path, encoding='latin-1', delimiter=';')  # Try semicolon
except:
    try:
        pitching_df = pd.read_csv(csv_path, encoding='latin-1', delimiter='\t')  # Try tab
    except:
             pitching_df = pd.read_csv(csv_path, encoding='latin-1', delimiter=',')  # Try tab

# pitching_df = pd.read_csv(csv_path, encoding='latin-1')
pitching_df.head()

,Rk,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,1,Cory Abbott,26,WSN,NL,0,5,0.0,5.25,16,...,2,216,75,6.36,1.438,8.3,2.3,4.7,8.4,1.80
1,2,Albert Abreu,26,TOT,AL,2,2,0.5,3.26,33,...,6,172,123,4.77,1.474,8.1,1.2,5.1,8.8,1.73
2,3,Albert Abreu,26,TEX,AL,0,0,0.0,3.12,7,...,0,42,133,8.54,1.846,4.2,2.1,12.5,9.3,0.75
3,4,Albert Abreu,26,KCR,AL,0,0,0.0,4.15,4,...,1,22,106,8.19,2.308,12.5,2.1,8.3,6.2,0.75
4,5,Albert Abreu,26,NYY,AL,2,2,0.5,3.16,22,...,5,108,124,2.92,1.208,8.8,0.7,2.1,9.1,4.33

In [3]:
csv_path = Path("/Users/michealmccloskey/Desktop/mlb_2022/2022_batting.csv")
try:
    batting_df = pd.read_csv(csv_path, encoding='latin-1', delimiter=';')  # Try semicolon
except:
    try:
        batting_df = pd.read_csv(csv_path, encoding='latin-1', delimiter='\t')  # Try tab
    except:
             batting_df = pd.read_csv(csv_path, encoding='latin-1', delimiter=',')  # Try tab
batting_df.head()

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,CJ Abrams*,21,TOT,NL,90,302,284,33,70,...,0.280,0.324,0.604,76,92,5,9,2,2,0
1,2,CJ Abrams*,21,SDP,NL,46,139,125,16,29,...,0.285,0.320,0.605,77,40,4,6,2,2,0
2,3,CJ Abrams*,21,WSN,NL,44,163,159,17,41,...,0.276,0.327,0.603,75,52,1,3,0,0,0
3,4,Albert Abreu,26,TOT,AL,1,0,0,0,0,...,0.000,0.000,0.000,0,0,0,0,0,0,0
4,5,Albert Abreu,26,KCR,AL,1,0,0,0,0,...,0.000,0.000,0.000,0,0,0,0,0,0,0

In [4]:
pd.set_option('display.max_columns', None)
batting_df.head()
pitching_df.head()

,Rk,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,1,Cory Abbott,26,WSN,NL,0,5,0.0,5.25,16,9,7,0,0,0,48.0,44,30,28,12,25,0,45,5,0,2,216,75,6.36,1.438,8.3,2.3,4.7,8.4,1.80
1,2,Albert Abreu,26,TOT,AL,2,2,0.5,3.26,33,0,11,0,0,0,38.2,35,15,14,5,22,0,38,3,0,6,172,123,4.77,1.474,8.1,1.2,5.1,8.8,1.73
2,3,Albert Abreu,26,TEX,AL,0,0,0.0,3.12,7,0,0,0,0,0,8.2,4,3,3,2,12,0,9,1,0,0,42,133,8.54,1.846,4.2,2.1,12.5,9.3,0.75
3,4,Albert Abreu,26,KCR,AL,0,0,0.0,4.15,4,0,3,0,0,0,4.1,6,2,2,1,4,0,3,1,0,1,22,106,8.19,2.308,12.5,2.1,8.3,6.2,0.75
4,5,Albert Abreu,26,NYY,AL,2,2,0.5,3.16,22,0,8,0,0,0,25.2,25,10,9,2,6,0,26,1,0,5,108,124,2.92,1.208,8.8,0.7,2.1,9.1,4.33

In [5]:
pd.set_option('display.max_columns', None)
batting_df.head()

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,CJ Abrams*,21,TOT,NL,90,302,284,33,70,12,2,2,21,7,4,5,50,0.246,0.280,0.324,0.604,76,92,5,9,2,2,0
1,2,CJ Abrams*,21,SDP,NL,46,139,125,16,29,5,0,2,11,1,2,4,27,0.232,0.285,0.320,0.605,77,40,4,6,2,2,0
2,3,CJ Abrams*,21,WSN,NL,44,163,159,17,41,7,2,0,10,6,2,1,23,0.258,0.276,0.327,0.603,75,52,1,3,0,0,0
3,4,Albert Abreu,26,TOT,AL,1,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0
4,5,Albert Abreu,26,KCR,AL,1,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0

In [6]:
missing_values = pitching_df.isnull().sum()
missing_values

Rk      0
Name    0
Age     0
Tm      0
Lg      0
W       0
L       0
W-L%    0
ERA     0
G       0
GS      0
GF      0
CG      0
SHO     0
SV      0
IP      0
H       0
R       0
ER      0
HR      0
BB      0
IBB     0
SO      0
HBP     0
BK      0
WP      0
BF      0
ERA+    0
FIP     0
WHIP    0
H9      0
HR9     0
BB9     0
SO9     0
SO/W    0
dtype: int64

In [7]:
duplicate_rows = pitching_df.duplicated().sum()
duplicate_rows

0

In [8]:
data_types = pitching_df.dtypes
data_types

Rk        int64
Name     object
Age       int64
Tm       object
Lg       object
W         int64
L         int64
W-L%    float64
ERA     float64
G         int64
GS        int64
GF        int64
CG        int64
SHO       int64
SV        int64
IP      float64
H         int64
R         int64
ER        int64
HR        int64
BB        int64
IBB       int64
SO        int64
HBP       int64
BK        int64
WP        int64
BF        int64
ERA+      int64
FIP     float64
WHIP    float64
H9      float64
HR9     float64
BB9     float64
SO9     float64
SO/W    float64
dtype: object

In [9]:
pitching_df.describe()

,Rk,Age,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
count,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000,1081.000000
mean,541.000000,28.622572,2.445883,2.477336,0.345357,5.390185,21.866790,4.821462,5.168363,0.035153,0.015726,1.300648,43.562535,40.601295,21.435708,19.549491,5.308048,15.266420,0.509713,41.507863,2.104533,0.128585,1.661425,185.513414,96.910268,5.032812,1.518111,9.559852,1.449769,4.107493,7.866420,2.419195
std,312.202125,3.476643,3.329315,3.071930,0.329474,5.370112,19.610863,9.060728,8.160959,0.266431,0.124472,4.588562,47.226115,43.505248,21.585956,20.047250,6.113314,14.749302,0.911931,46.429199,2.670343,0.398059,2.135693,195.127992,71.291760,4.033896,0.867488,5.599782,2.283362,4.405164,3.365661,2.022456
min,1.000000,21.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-2.890000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,271.000000,26.000000,0.000000,0.000000,0.000000,3.010000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.200000,8.000000,5.000000,5.000000,1.000000,4.000000,0.000000,6.000000,0.000000,0.000000,0.000000,36.000000,60.000000,3.280000,1.141000,7.100000,0.500000,2.300000,6.300000,1.330000
50%,541.000000,28.000000,1.000000,1.000000,0.333000,4.210000,17.000000,0.000000,2.000000,0.000000,0.000000,0.000000,27.000000,26.000000,15.000000,14.000000,3.000000,11.000000,0.000000,26.000000,1.000000,0.000000,1.000000,119.000000,89.000000,4.220000,1.343000,8.500000,1.000000,3.400000,8.100000,2.160000
75%,811.000000,31.000000,4.000000,4.000000,0.571000,6.040000,32.000000,4.000000,7.000000,0.000000,0.000000,0.000000,61.000000,53.000000,29.000000,26.000000,7.000000,22.000000,1.000000,61.000000,3.000000,0.000000,3.000000,257.000000,121.000000,5.250000,1.612000,10.500000,1.600000,4.700000,9.700000,3.170000
max,1081.000000,42.000000,21.000000,19.000000,1.000000,60.750000,77.000000,33.000000,67.000000,6.000000,1.000000,42.000000,228.200000,210.000000,119.000000,107.000000,38.000000,78.000000,6.000000,257.000000,19.000000,3.000000,15.000000,886.000000,1227.000000,51.110000,12.000000,81.000000,27.000000,81.000000,27.000000,34.000000

In [10]:
complete_games = pitching_df["CG"]> 1
complete_games

0       False
1       False
2       False
3       False
4       False
        ...
1076    False
1077    False
1078    False
1079    False
1080    False
Name: CG, Length: 1081, dtype: bool

In [11]:
num_complete_games = pitching_df['CG'].sum()  # Use sum() to count occurrences where CG is >= 1
num_complete_games

38

In [12]:
# Filter for complete games (CG >= 1)
complete_games_df = pitching_df[pitching_df['CG'] >= 1]

# Select relevant columns: 'Name' and 'Tm' (Team)
pitchers_with_cg_df = complete_games_df[['Name', 'Tm']]

# Count the number of complete games per pitcher-team combination (optional)
pitchers_with_cg_df = pitchers_with_cg_df.groupby(['Name', 'Tm']).size().to_frame(name='CGs').reset_index()

# Print the DataFrame
print(pitchers_with_cg_df)

                  Name   Tm  CGs
0           Aaron Nola  PHI    1
1      Adam Wainwright  STL    1
2         Brayan Bello  BOS    1
3          Bryce Elder  ATL    1
4        Carlos Rodón*  SFG    1
5            Chad Kuhl  COL    1
6          Dean Kremer  BAL    1
7          Dylan Cease  CHW    1
8      Framber Valdez*  HOU    1
9        Hunter Greene  CIN    1
10        Johnny Cueto  CHW    1
11        Jordan Lyles  BAL    1
12  Jordan Montgomery*  STL    1
13  Jordan Montgomery*  TOT    1
14       Martín Pérez*  TEX    1
15       Michael Wacha  BOS    1
16       Miles Mikolas  STL    1
17      Nathan Eovaldi  BOS    1
18      Nestor Cortes*  NYY    1
19        Nick Pivetta  BOS    1
20    Noah Syndergaard  PHI    1
21    Noah Syndergaard  TOT    1
22        Paolo Espino  WSN    1
23     Patrick Corbin*  WSN    1
24   Patrick Sandoval*  LAA    1
25       Reid Detmers*  LAA    1
26     Sandy Alcantara  MIA    1
27        Shane Bieber  CLE    1
28      Walker Buehler  LAD    1

In [13]:
ages = pitching_df["Age"].unique()
ages

array([26, 25, 28, 30, 31, 23, 32, 27, 29, 24, 33, 34, 37, 35, 36, 38, 22,
       42, 39, 40, 21])

In [14]:
pitching_df["Tm"].value_counts()

Tm
TOT    110
CHC     42
TBR     40
CIN     38
MIN     38
WSN     36
PIT     36
LAA     35
BAL     35
OAK     34
MIL     33
PHI     33
DET     33
ARI     33
NYY     33
STL     32
BOS     32
TOR     32
SFG     32
KCR     32
MIA     32
NYM     32
LAD     31
ATL     31
SDP     30
TEX     30
SEA     29
CLE     27
COL     25
CHW     23
HOU     22
Name: count, dtype: int64

In [15]:
filtered_df = pitching_df[pitching_df['Tm'] != 'TOT']
filtered_df

,Rk,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,1,Cory Abbott,26,WSN,NL,0,5,0.000,5.25,16,9,7,0,0,0,48.0,44,30,28,12,25,0,45,5,0,2,216,75,6.36,1.438,8.3,2.3,4.7,8.4,1.80
2,3,Albert Abreu,26,TEX,AL,0,0,0.000,3.12,7,0,0,0,0,0,8.2,4,3,3,2,12,0,9,1,0,0,42,133,8.54,1.846,4.2,2.1,12.5,9.3,0.75
3,4,Albert Abreu,26,KCR,AL,0,0,0.000,4.15,4,0,3,0,0,0,4.1,6,2,2,1,4,0,3,1,0,1,22,106,8.19,2.308,12.5,2.1,8.3,6.2,0.75
4,5,Albert Abreu,26,NYY,AL,2,2,0.500,3.16,22,0,8,0,0,0,25.2,25,10,9,2,6,0,26,1,0,5,108,124,2.92,1.208,8.8,0.7,2.1,9.1,4.33
5,6,Bryan Abreu,25,HOU,AL,4,0,1.000,1.94,55,0,18,0,0,2,60.1,45,16,13,2,26,0,88,4,0,7,248,198,2.12,1.177,6.7,0.3,3.9,13.1,3.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076,1077,Rob Zastryzny*,30,NYM,NL,0,0,0.000,9.00,1,0,0,0,0,0,1.0,1,1,1,0,0,0,1,0,0,0,4,60,1.11,1.000,9.0,0.0,0.0,9.0,0.00
1077,1078,Rob Zastryzny*,30,LAA,AL,0,0,0.000,6.00,5,0,1,0,0,0,3.0,2,3,2,0,1,0,2,0,0,1,12,76,2.78,1.000,6.0,0.0,3.0,6.0,2.00
1078,1079,Angel Zerpa*,22,KCR,AL,2,1,0.667,1.64,3,2,0,0,0,0,11.0,9,3,2,2,3,0,3,0,0,1,44,255,5.75,1.091,7.4,1.6,2.5,2.5,1.00
1079,1080,T.J. Zeuch,26,CIN,NL,0,3,0.000,15.19,3,3,0,0,0,0,10.2,24,18,18,5,7,0,5,3,0,0,64,30,11.08,2.906,20.3,4.2,5.9,4.2,0.71
1080,1081,Bruce Zimmermann*,27,BAL,AL,2,5,0.286,5.99,15,13,1,0,0,0,73.2,97,52,49,21,12,0,49,2,0,1,320,65,6.06,1.480,11.9,2.6,1.5,6.0,4.08

In [16]:
filtered_df["Tm"].value_counts()

Tm
CHC    42
TBR    40
CIN    38
MIN    38
WSN    36
PIT    36
BAL    35
LAA    35
OAK    34
DET    33
NYY    33
PHI    33
ARI    33
MIL    33
SFG    32
KCR    32
STL    32
BOS    32
TOR    32
NYM    32
MIA    32
LAD    31
ATL    31
SDP    30
TEX    30
SEA    29
CLE    27
COL    25
CHW    23
HOU    22
Name: count, dtype: int64

In [17]:
## trying to find starting pitchers if more than half Games were GS
starters = filtered_df[filtered_df['GS'] > filtered_df['G'] / 2]
starters

,Rk,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,1,Cory Abbott,26,WSN,NL,0,5,0.000,5.25,16,9,7,0,0,0,48.0,44,30,28,12,25,0,45,5,0,2,216,75,6.36,1.438,8.3,2.3,4.7,8.4,1.80
9,10,Joan Adon,23,WSN,NL,1,12,0.077,7.10,14,14,0,0,0,0,64.2,76,53,51,8,39,1,55,6,0,7,310,55,5.11,1.778,10.6,1.1,5.4,7.7,1.41
15,16,Sandy Alcantara,26,MIA,NL,14,9,0.609,2.28,32,32,0,6,1,0,228.2,174,67,58,16,50,1,207,9,0,3,886,176,2.99,0.980,6.8,0.6,2.0,8.1,4.14
16,17,Jason Alexander,29,MIL,NL,2,3,0.400,5.40,18,11,3,0,0,0,71.2,88,47,43,12,28,0,46,4,0,1,321,75,5.34,1.619,11.1,1.5,3.5,5.8,1.64
18,19,Tyler Alexander*,27,DET,AL,4,11,0.267,4.81,27,17,1,0,0,0,101.0,108,58,54,18,25,1,61,1,0,0,427,80,4.99,1.317,9.6,1.6,2.2,5.4,2.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,1060,Kyle Wright,26,ATL,NL,21,5,0.808,3.19,30,30,0,0,0,0,180.1,156,67,64,19,53,0,174,9,0,7,738,130,3.58,1.159,7.8,0.9,2.6,8.7,3.28
1067,1068,Huascar Ynoa,24,ATL,NL,0,2,0.000,13.50,2,2,0,0,0,0,6.2,11,10,10,2,6,0,8,0,0,1,37,32,7.31,2.550,14.9,2.7,8.1,10.8,1.33
1078,1079,Angel Zerpa*,22,KCR,AL,2,1,0.667,1.64,3,2,0,0,0,0,11.0,9,3,2,2,3,0,3,0,0,1,44,255,5.75,1.091,7.4,1.6,2.5,2.5,1.00
1079,1080,T.J. Zeuch,26,CIN,NL,0,3,0.000,15.19,3,3,0,0,0,0,10.2,24,18,18,5,7,0,5,3,0,0,64,30,11.08,2.906,20.3,4.2,5.9,4.2,0.71
1080,1081,Bruce Zimmermann*,27,BAL,AL,2,5,0.286,5.99,15,13,1,0,0,0,73.2,97,52,49,21,12,0,49,2,0,1,320,65,6.06,1.480,11.9,2.6,1.5,6.0,4.08

In [18]:
## win/loss percentage
# starters.loc[:, 'W/L%'] = starters['W'] / (starters['W'] + starters['L'])
starters.loc[:, 'W/L%'] = starters['W'] / (starters['W'] + starters['L'])
starters

/var/folders/ry/_22269n950s4yfgx8rkg1p0m0000gn/T/ipykernel_68673/3729721536.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  starters.loc[:, 'W/L%'] = starters['W'] / (starters['W'] + starters['L'])

,Rk,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,W/L%
0,1,Cory Abbott,26,WSN,NL,0,5,0.000,5.25,16,9,7,0,0,0,48.0,44,30,28,12,25,0,45,5,0,2,216,75,6.36,1.438,8.3,2.3,4.7,8.4,1.80,0.000000
9,10,Joan Adon,23,WSN,NL,1,12,0.077,7.10,14,14,0,0,0,0,64.2,76,53,51,8,39,1,55,6,0,7,310,55,5.11,1.778,10.6,1.1,5.4,7.7,1.41,0.076923
15,16,Sandy Alcantara,26,MIA,NL,14,9,0.609,2.28,32,32,0,6,1,0,228.2,174,67,58,16,50,1,207,9,0,3,886,176,2.99,0.980,6.8,0.6,2.0,8.1,4.14,0.608696
16,17,Jason Alexander,29,MIL,NL,2,3,0.400,5.40,18,11,3,0,0,0,71.2,88,47,43,12,28,0,46,4,0,1,321,75,5.34,1.619,11.1,1.5,3.5,5.8,1.64,0.400000
18,19,Tyler Alexander*,27,DET,AL,4,11,0.267,4.81,27,17,1,0,0,0,101.0,108,58,54,18,25,1,61,1,0,0,427,80,4.99,1.317,9.6,1.6,2.2,5.4,2.44,0.266667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,1060,Kyle Wright,26,ATL,NL,21,5,0.808,3.19,30,30,0,0,0,0,180.1,156,67,64,19,53,0,174,9,0,7,738,130,3.58,1.159,7.8,0.9,2.6,8.7,3.28,0.807692
1067,1068,Huascar Ynoa,24,ATL,NL,0,2,0.000,13.50,2,2,0,0,0,0,6.2,11,10,10,2,6,0,8,0,0,1,37,32,7.31,2.550,14.9,2.7,8.1,10.8,1.33,0.000000
1078,1079,Angel Zerpa*,22,KCR,AL,2,1,0.667,1.64,3,2,0,0,0,0,11.0,9,3,2,2,3,0,3,0,0,1,44,255,5.75,1.091,7.4,1.6,2.5,2.5,1.00,0.666667
1079,1080,T.J. Zeuch,26,CIN,NL,0,3,0.000,15.19,3,3,0,0,0,0,10.2,24,18,18,5,7,0,5,3,0,0,64,30,11.08,2.906,20.3,4.2,5.9,4.2,0.71,0.000000
1080,1081,Bruce Zimmermann*,27,BAL,AL,2,5,0.286,5.99,15,13,1,0,0,0,73.2,97,52,49,21,12,0,49,2,0,1,320,65,6.06,1.480,11.9,2.6,1.5,6.0,4.08,0.285714

In [19]:
starters['SO%'] = (starters['SO'] / starters['IP']) * 100
starters['Name','SO%'].sort_values(ascending=True)

/var/folders/ry/_22269n950s4yfgx8rkg1p0m0000gn/T/ipykernel_68673/1618729639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  starters['SO%'] = (starters['SO'] / starters['IP']) * 100

KeyError: ('Name', 'SO%')

In [ ]:
# Rank pitchers in the entire dataset by ERA (descending)
filtered_df.loc[:,'ERA_Rank'] = filtered_df.sort_values(by='ERA', ascending=False)['ERA'].rank()

In [21]:
sortedERA_df = filtered_df.sort_values(by='ERA', ascending = False)
sortedERA_df

,Rk,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
951,952,Thomas Szapucki*,26,NYM,NL,0,1,0.0,60.75,1,1,0,0,0,0,1.1,7,9,9,4,3,0,2,0,0,0,13,8,45.86,7.500,47.3,27.0,20.3,13.5,0.67
665,666,Brian Moran*,33,LAA,AL,0,0,0.0,54.00,1,0,0,0,0,0,0.1,3,2,2,1,1,1,0,0,0,0,5,16,51.11,12.000,81.0,27.0,27.0,0.0,0.00
887,888,Andrelton Simmons,32,CHC,NL,0,0,0.0,45.00,1,0,1,0,0,0,1.0,5,5,5,0,1,0,0,0,0,0,9,13,6.11,6.000,45.0,0.0,9.0,0.0,0.00
867,868,Max Schrock,27,CIN,NL,0,0,0.0,45.00,1,0,1,0,0,0,1.0,7,5,5,2,0,0,0,0,0,0,10,13,29.11,7.000,63.0,18.0,0.0,0.0,0.00
54,55,Anthony Banda*,28,NYY,AL,0,0,0.0,40.50,2,0,0,0,0,0,0.2,2,3,3,0,5,0,1,1,0,0,10,15,27.11,10.500,27.0,0.0,67.5,13.5,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,153,Ryan Castellani,26,OAK,AL,0,0,0.0,0.00,3,0,1,0,0,0,2.2,2,1,0,0,0,0,1,0,0,2,11,0,2.36,0.750,6.8,0.0,0.0,3.4,0.00
515,516,Andrew Knizner,27,STL,NL,0,0,0.0,0.00,1,0,1,0,0,0,0.2,1,0,0,0,0,0,0,0,0,0,3,0,3.11,1.500,13.5,0.0,0.0,0.0,0.00
263,264,Sean Doolittle*,35,WSN,NL,0,0,0.0,0.00,6,0,0,0,0,0,5.1,1,0,0,0,0,0,6,0,0,0,17,0,0.86,0.188,1.7,0.0,0.0,10.1,0.00
354,355,Ian Gibaut,28,CLE,AL,0,0,0.0,0.00,1,0,0,0,0,0,1.1,1,0,0,0,0,0,0,1,0,0,6,0,5.36,0.750,6.8,0.0,0.0,0.0,0.00
194,195,Sam Clay*,29,NYM,NL,0,0,0.0,0.00,1,0,1,0,0,0,1.0,1,1,0,0,1,0,2,0,0,0,6,0,2.11,2.000,9.0,0.0,9.0,18.0,2.00

In [22]:
ranked_df.head()

,Rk,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
951,952,Thomas Szapucki*,26,NYM,NL,0,1,0.0,60.75,1,1,0,0,0,0,1.1,7,9,9,4,3,0,2,0,0,0,13,8,45.86,7.5,47.3,27.0,20.3,13.5,0.67
665,666,Brian Moran*,33,LAA,AL,0,0,0.0,54.00,1,0,0,0,0,0,0.1,3,2,2,1,1,1,0,0,0,0,5,16,51.11,12.0,81.0,27.0,27.0,0.0,0.00
887,888,Andrelton Simmons,32,CHC,NL,0,0,0.0,45.00,1,0,1,0,0,0,1.0,5,5,5,0,1,0,0,0,0,0,9,13,6.11,6.0,45.0,0.0,9.0,0.0,0.00
867,868,Max Schrock,27,CIN,NL,0,0,0.0,45.00,1,0,1,0,0,0,1.0,7,5,5,2,0,0,0,0,0,0,10,13,29.11,7.0,63.0,18.0,0.0,0.0,0.00
54,55,Anthony Banda*,28,NYY,AL,0,0,0.0,40.50,2,0,0,0,0,0,0.2,2,3,3,0,5,0,1,1,0,0,10,15,27.11,10.5,27.0,0.0,67.5,13.5,0.20